<p>Hello world!</p>
<form action="/results">
    <label for="user-input">Enter a number</label>
    <input id="user-input" name="user-input" class="form-control" type="number" required min=1>
  <button class="btn" type="submit">Ping it up</button>
</form>
